= render '/application/mailer_doctype'
%html
  %p A new discussion was created in a Loomio group that you belong to.

  %table
    %tr
      %th
        Discussion
      %td
        = link_to @discussion.title, discussion_url(@discussion)
    %tr
      %th
        Group
      %td
        = @discussion.group.full_name
    %tr
      %th
        Started by
      %td
        = @discussion.author.name
    -if @rendered_discussion_description.present?
      %tr
        %th
          &nbsp;
        %td
          &nbsp;
      %tr
        %th
          Details
        %td
          = @rendered_discussion_description

  %p
    = link_to("Click here to view this discussion", discussion_url(@discussion))

  = render 'user_mailer/unsubscribe_link'
