= simple_form_for @group_request do |f|
  = f.input :admin_name, label: 'What is your name?', placeholder: "e.g. Jane Bloggs"
  = f.input :admin_email, label: 'What is your email address?', placeholder: "e.g. jane@organisation.com"
  = f.input :name, label: 'What is the name of your group?', placeholder: "e.g. Jane's Accounting Services"
  = f.submit 'Start your free trial!', class: 'btn btn-info btn-large'
