%h1 #{@group.full_name} > #{t(:request_membership)}

= simple_form_for membership_request, :validate => true do |f|
  = f.input :name
  = f.inpuut :email
  = f.input :introduction
  = hidden_field_tag :group, @group.id
  = f.submit t(:request_membership), :class => "btn btn-info btn-large"

Cancel

