= t("email.invitation.header")
\
= t("email.invitation.hi", name: "Mix master Jerving")
\
= t("email.invitation.intro", group_name: "Jimmies on Jammies")
\
= link_to 'invitation link', "#"
\
= t("email.invitation.closing_message")
\
= t :thanks
