= render '/application/mailer_doctype'
%html
  %h1= t("email.invitation.header")

  %p= t("email.invitation.hi", name: "Mix master Jerving")

  %p= link_to 'invitation link', "#"

  %p= t("email.invitation.intro", group_name: "Jimmies on Jammies")

  %p= t("email.invitation.closing_message")

  %p= t :thanks
