!!!
%html
  %head
    - title = @title ? @title : "Loomio | Collaborative Decision-Making"
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag  "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
      = render 'flash_messages', :flash => flash

    .container-fluid
      .navbar
        = link_to image_tag("logo.png"), root_path, class: 'logo'
        %i.fa.fa-twitter
        %i.fa.fa-facebook
        %i.fa.fa-github
        = link_to t(:'frontpage.link.blog'), '#', class: 'blog'
        = link_to t(:'frontpage.link.contact'), '#', class: 'contact'
        = link_to t(:'frontpage.link.log_in'), '#', class: 'btn btn-primary log_in'

      .row-hero
        .col
          = t(:'frontpage.hero.head')
          = t(:'frontpage.hero.subhead')
          = t(:'frontpage.hero.desc')
          %a{href: '#', class: 'btn btn-loomio btn-lg'}
            = t(:'frontpage.link.crowdfunding')
            %i.fa.fa-angle-right
          %i.fa.fa-angle-down


      .row.product
        .col
          = t(:'frontpage.product.header')


      .row
        .col-xs-4
          = image_tag 'threads.png'
          = t(:'frontpage.product.step1.header')
          = t(:'frontpage.product.step1.desc')
        .col-xs-4
          = image_tag 'weaving.png'
          = t(:'frontpage.product.step2.header')
          = t(:'frontpage.product.step2.desc')
        .col-xs-4
          = image_tag 'braid.png'
          = t(:'frontpage.product.step3.header')
          = t(:'frontpage.product.step3.desc')
      .row
        .col
        = image_tag 'ipad.png'



      .row.crowdfunding
        %a{href: '#', class: 'col'}
          = t(:'frontpage.crowdfunding.header')
          = t(:'frontpage.link.crowdfunding')
          %i.fa.fa-angle-right


      .row.prototype
        .col
          = t(:'frontpage.prototype.header')
          = image_tag 'wikimedia.png'
          = t(:'frontpage.prototype.subhead')
      .row.quote
        .col
          = t(:'frontpage.quote.header.rushkoff')

      .row.mobile
        .col
          = image_tag 'mobile.png'

      .row.quote
        .col
          = t(:'frontpage.quote.header.sifry')

      .row
        .col
          = image_tag 'team.png'

      .row.team
        %a{href: '#', class: 'col'}
          = t(:'frontpage.team.header')
          = t(:'frontpage.team.desc')
          = t(:'frontpage.link.more')
          %i.fa.fa-angle-right

      .row.ideals
        .row
          .col-xs-6
            = image_tag 'community.png'
            = t(:'frontpage.ideals.community.header')
            = t(:'frontpage.ideals.community.desc')
          .col-xs-6
            = image_tag 'indi.png'
            = t(:'frontpage.ideals.independent.header')
            = t(:'frontpage.ideals.independent.desc')
      .row.ideals
        .row
          .col-xs-6
            = image_tag 'open.png'
            = t(:'frontpage.ideals.open.header')
            = t(:'frontpage.ideals.open.desc')
          .col-xs-6
            = image_tag 'gift.png'
            = t(:'frontpage.ideals.gift.header')
            = t(:'frontpage.ideals.gift.desc')

      .row.vision
        %a{href: '#', class: 'col'}
          = t(:'frontpage.vision.header')
          = t(:'frontpage.link.crowdfunding')

      .row.footer
        .col
          = t(:'frontpage.link.top')
          %i.fa.fa-angle-top
          = t(:'frontpage.link.public_groups')
          = t(:'frontpage.link.terms')
          = t(:'frontpage.link.privacy')
          = t(:'frontpage.link.services')



