!!!
%html
  %head
    - title = @title ? @title : "Loomio | Collaborative Decision-Making"
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag  "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
      = render 'flash_messages', :flash => flash

    .container-fluid.home
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            = link_to image_tag("logo.png"), root_path, class: 'navbar-brand', alt: 'Loomio'
          %ul.nav.navbar-nav.navbar-right
            %li
              %i.fa.fa-twitter
            %li
              %i.fa.fa-facebook
            %li
              %i.fa.fa-github
            %li= link_to t(:'frontpage.link.blog'), '#', class: 'blog'
            %li= link_to t(:'frontpage.link.contact'), '#', class: 'contact'
            %li= link_to t(:'frontpage.link.log_in'), '#', class: 'btn btn-primary log_in'

      .row.hero
        .content
          %h1= t(:'frontpage.hero.head')
          %h2= t(:'frontpage.hero.subhead')
          %p.lg= t(:'frontpage.hero.desc')
          %a{href: '#', class: 'btn btn-loomio btn-lg'}
            = t(:'frontpage.link.crowdfunding')
            %i.fa.fa-angle-right
          %i.fa.fa-angle-down


      .row.product
        .row
          .content
            %h1= t(:'frontpage.product.header')
        .row
          .content
            .col-xs-4
              = image_tag 'threads.png'
              %h2= t(:'frontpage.product.step1.header')
              %p= t(:'frontpage.product.step1.desc')
            .col-xs-4
              = image_tag 'weaving.png'
              %h2= t(:'frontpage.product.step2.header')
              %p= t(:'frontpage.product.step2.desc')
            .col-xs-4
              = image_tag 'braid.png'
              %h2= t(:'frontpage.product.step3.header')
              %p= t(:'frontpage.product.step3.desc')
        .row
          .content
          = image_tag 'ipad.png'


      .row.crowdfunding
        .content
          %a{href: '#', class: 'content block-link'}
            %h1= t(:'frontpage.crowdfunding.header')
            %h2= t(:'frontpage.link.crowdfunding')
            %i.fa.fa-angle-right


      .row.prototype
        .content
          %h1= t(:'frontpage.prototype.header')
          = image_tag 'wikimedia.png'
          %p.lg= t(:'frontpage.prototype.subhead')


      .row.quote
        .content
          %blockquote= t(:'frontpage.quote.header.rushkoff')


      .row.mobile
        = image_tag 'mobile.png'

      .row.quote
        .content
          %blockquote= t(:'frontpage.quote.header.sifry')

      .row
        = image_tag 'team.png'

      .row.team
        .content
          %a{href: '#', class: 'col block-link'}
            %h1= t(:'frontpage.team.header')
            %p.lg= t(:'frontpage.team.desc')
            = t(:'frontpage.link.more')
            %i.fa.fa-angle-right

      .row.ideals
        .content
          .row
            .col-xs-6
              = image_tag 'community.png'
              %h2= t(:'frontpage.ideals.community.header')
              = t(:'frontpage.ideals.community.desc')
            .col-xs-6
              = image_tag 'indi.png'
              %h2= t(:'frontpage.ideals.independent.header')
              = t(:'frontpage.ideals.independent.desc')
      .row.ideals
        .content
          .row
            .col-xs-6
              = image_tag 'open.png'
              %h2= t(:'frontpage.ideals.open.header')
              = t(:'frontpage.ideals.open.desc')
            .col-xs-6
              = image_tag 'gift.png'
              %h2= t(:'frontpage.ideals.gift.header')
              = t(:'frontpage.ideals.gift.desc')

      .row.vision
        .content
          %a{href: '#', class: 'col block-link'}
            %h1= t(:'frontpage.vision.header')
            %h2= t(:'frontpage.link.crowdfunding')

      .row.footer
        .content
          = t(:'frontpage.link.top')
          %i.fa.fa-angle-top
          = t(:'frontpage.link.public_groups')
          = t(:'frontpage.link.terms')
          = t(:'frontpage.link.privacy')
          = t(:'frontpage.link.services')



