!!!
%html
  %head
    - title = @title ? @title : "Loomio | Collaborative Decision-Making"
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    <!--[if lt IE 9]><script type="text/javascript" src="/assets/lib/excanvas.js"></script><![endif]-->
    = stylesheet_link_tag  "frontpage"
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "#{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'
      = render 'flash_messages', :flash => flash

    .container-fluid
      .nav
        .logo
        .twitter
        .facebook
        .github
          %i.fa-fa-twitter
          %i.fa-fa-facebook
          %i.fa-fa-github
          = link_to t(:'frontpage.link.blog'), '#', class: 'blog'
          = link_to t(:'frontpage.link.contact'), '#', class: 'contact'
          = link_to t(:'frontpage.link.log_in'), '#', class: 'btn log_in'

      .row.hero
        .col-xs-12
          = t(:'frontpage.hero.head')
          = t(:'frontpage.hero.subhead')
          = t(:'frontpage.hero.desc')
          = link_to  t(:'frontpage.link.crowdfunding'), '#', class: 'btn btn-loomio btn-large'
          %i.fa-fa-angle-right
          %i.fa-fa-angle-down


      .row.product
        .col-xs-12
          = t(:'frontpage.product.header')


      .row
        .col-xs-4
          = t(:'frontpage.product.step1.header')
          = t(:'frontpage.product.step1.desc')
        .col-xs-4
          = t(:'frontpage.product.step2.header')
          = t(:'frontpage.product.step2.desc')
        .col-xs-4
          = t(:'frontpage.product.step3.header')
          = t(:'frontpage.product.step3.desc')


      .row.crowdfunding
        .col-xs-12
          = t(:'frontpage.crowdfunding.header')
          = link_to t(:'frontpage.link.crowdfunding'), root_path
          %i.fa.fa-angle-right


      .row.prototype
        .col-xs-12
          = t(:'frontpage.prototype.header')
          = t(:'frontpage.prototype.subhead')

      .row.quote
        .col-xs-12
          = t(:'frontpage.quote.header.rushkoff')

      .row.mobile
        .col-xs-12
          = t(:'frontpage.mobile.header')

      .row.quote
        .col-xs-12
          = t(:'frontpage.quote.header.sifry')

      .row.team
        .col-xs-12
          = t(:'frontpage.team.header')
          = t(:'frontpage.team.desc')
          = link_to t(:'frontpage.link.more'), root_path
          %i.fa.fa-angle-right

      .row.ideals
        .row
          .col-xs-6
            = t(:'frontpage.ideals.community.header')
            = t(:'frontpage.ideals.community.desc')
          .col-xs-6
            = t(:'frontpage.ideals.independent.header')
            = t(:'frontpage.ideals.independent.desc')
      .row.ideals
        .row
          .col-xs-6
            = t(:'frontpage.ideals.open.header')
            = t(:'frontpage.ideals.open.desc')
          .col-xs-6
            = t(:'frontpage.ideals.gift.header')
            = t(:'frontpage.ideals.gift.desc')

      .row.vision
        .col-xs-12
          = t(:'frontpage.vision.header')
          = link_to t(:'frontpage.link.crowdfunding'), root_path

      .row.footer
        .col-xs-12
          = t(:'frontpage.link.top')
          %i.fa.fa-angle-top
          = t(:'frontpage.link.public_groups')
          = t(:'frontpage.link.terms')
          = t(:'frontpage.link.privacy')
          = t(:'frontpage.link.services')



